/*-------------------------------------------------------------------
    1.import file
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*-------------------------------------------------------------------
    2.basic
-------------------------------------------------------------------*/

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    color: #121212 !important;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 23px
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 20px;
    color: #030101;
    font-weight: 700;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 17px;
    font-weight: 600;
    color: #111428;
    letter-spacing: -1px;
    line-height: 35px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 14px
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 11px
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #111428;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px
}

body {
    margin : 0;
    background: #015871;
}



/*-------------------------------------------------------------------
    3. Header
-------------------------------------------------------------------*/

header {
    width : 100%;
    height : 120px;
    background-image : url("../images/main_background.jpg");
    background-size : 150% 250%;
}

#logo {
    float : left;
    height : 100%;
    width : 15%;
    margin-left : 20px;
    margin-top: 15%;
}

nav {
    margin-top: 1.5%;
    /*padding-top: 48px;*/
    float : right;
    width : 1050px;
    height : 100%;

}
#nav-bar {
    width : 100%;
    height : 20%;
    top : 40%;
}

.nav-button {
    margin-left : 80px;
    margin-bottom : 0;
    height : 100%;
}

.nav-button a {
    font-size : 20px;
    color : rgba(35,31,32,1);
    font-weight : bold;
    display : inline-block;
    position : relative;
    vertical-align : center;
    text-transform : uppercase;
}

.nav-button a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgba(154,125,49,1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-button a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#logo img {
    max-height : 40%;
    object-fit : fill;
    margin : auto;
    text-align : center;
    left : 5%
}

/*-------------------------------------------------------------------
    4. Footer
-------------------------------------------------------------------*/

#footer {
    width: 100%;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
}

#footer p {
    color: rgba(255,255,255,1);
}

#footer .container {
    height: 40%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
}

#footer .container .logo {
    float : left;
    height: 100%;
    margin-left: 50px;
}

#footer .container .media {
    float : right;
    height: 100%;
    margin-right: 50px;
}